* {
    box-sizing: border-box;
}

img {
    background: white;
    padding: 3px;
    border-radius: 5px;
}

body {
    margin: 0px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

select {
    height: 40px;
    width: 80px;
    margin-left: 5px;
    font-size: 20px;
}

#my-canvas {
    border: 2px solid #F2FFFF;
    margin-right: 30px;
    margin-left: 50px
}

.txt-btns-section {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin-bottom: 20px;
    width: 50vw
}

.txt-input {
    width: 100%;
    /* height: 45px; */
    border-radius: 10px;
    margin-bottom: 18px;
    font-size: 25px;
    padding: 9px;
}

.btn-add {
    padding: 10px;
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
    background-color: #fff;
    font-size: 25px;
    transition: 0.3s all;
}

.btn-add:hover {
    background-color: #F69F49;
}

.first-row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 15px;
}

.arrow-up {
    width: 50px;
    cursor: pointer;
}

.arrow-down {
    width: 33px;
    cursor: pointer;
}

.delete-icon {
    width: 50px;
    cursor: pointer;
}

.increase-decrease-font-icon {
    width: 50px;
    cursor: pointer;
}

.text-align-line-pos {
    display: flex;
    justify-content: space-around;
    margin-bottom: 15px;
}

.select-line-pos {
    display: flex;
    justify-content: space-around;
    height: 50px;
}

.color-section {
    display: flex;
    justify-content: space-between;
}

.color-section * {
    display: flex;
    justify-content: space-between;
}

.color-input {
    margin-left: 10px;
    width: 80px;
    height: 30px;
}

.btn-share-main {
    margin: 0 auto;
    padding: 10px;
    background-color: #ff7f00;
    color: white;
    font-size: 20px;
    border-radius: 10px;
    width: 420px;
    transition: 0.5s all;
}

.btn-share-main:hover {
    width: 435px;
    background-color: #ff8000ea;
}

.btn-share {
    width: 100%;
}

.txt-border {
    position: fixed;
    top: 0;
    background: rgba(0, 0, 0, 0);
    border: 3px solid #FFB56E;
    outline: none;
    padding-bottom: 10px;
    padding-top: 10px;
    width: 450px;
    display: block;
}

.txt-border-off {
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
}

.about-link {
    border-left: 1px dolid blue;
}

/* The Modal  */

.screen {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.display {
    display: block;
}

.modal-content {
    display: flex;
    flex-direction: column;
    background-color: #fefefe;
    width: 50%;
    height: 50%;
    margin: 25% auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 10px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 58px;
    font-weight: bold;
    display: flex;
    justify-content: flex-end;
}

.close:hover, .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.save-share-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: space-around;
}

@media screen and (max-width: 975px) {
    #my-canvas {
        margin-left: 0px;
        margin-right: 5px;
    }
    .btn-share-main {
        width: 300px
    }
    .btn-share-main:hover {
        width: 310px
    }
}

@media screen and (max-width: 867px) {
    main {
        flex-direction: column;
    }
    #my-canvas {
        max-width: 450px;
        width: 100%;
        height: 100%;
        padding: 0px;
        margin: 0 auto;
    }
    .txt-btns-section {
        width: 70%;
        margin: 0 auto;
    }
    footer {
        position: fixed;
        bottom: 0px;
        display: none;
    }
}

@media screen and (max-width: 600px) {
    #my-canvas {
        /* max-width: 350px; */
        /* width: 350px; */
        /* height: 350px; */
        padding: 0px;
        margin: 0 auto;
        margin-bottom: 10px;
    }
    
    .txt-btns-section {
        width: 90%;
        margin: 0 auto;
    }

    .logo img {
        height: 30px;
        text-align: center;
    }

    .txt-input {
        width: 100%
    }
    
}

@media screen and (max-width: 375px) {
    body {
        font-size: 15px;
    }
    #my-canvas {
        max-width: 100%;
    }
    .txt-btns-section {
        margin: 0;
        padding: 0;
        width: 100%;
    }
    .color-input {
        padding: 0px;
    }
    .fill-color-section {
        flex-direction: column;
    }
    .x {
        /* display: flex; */
        flex-direction: row;
    }
    
}