body {
    background-color: rgb(228, 202, 202);
}
.search-by-tag{
    display: flex;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 10px;
}

.gallery>img {
    cursor: pointer;
    width: 100%;
}

