@font-face {
    font-family: Montserrat;
    src: url(/font/Montserrat-Regular.ttf);

}

/* @font-face {
    font-family: myFirstFont;
    src: url(sansation_light.woff);
  } */

body {
    margin:0px;
    background-color: rgb(223, 222, 222);
    font-size: 20px;
    font-family: Montserrat;
}

button {
    cursor: pointer;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
    grid-gap: 9px;
    padding-left: 15px;;
}

.gallery>img {
    width: 190px;
    cursor: pointer;
}

/* ---NAV--- */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(255, 115, 0);
}

.links {
    display: flex;
    list-style: none;
    justify-content: space-around;
}

a {
    display: block;
    padding: 20px;
    cursor: pointer;
    text-decoration: none;
    font-size: white;
}

.links * {}

.logo img {
    height: 50px;
}

/* ---Footer--- */

footer {
    background-color: rgb(255, 115, 0);
    position: fixed;
    bottom: 0px;
    width: 100%;
    padding: 5px;
    text-align: center;
    height: 105px;
}

footer h2{
    margin-bottom: 0px;
}
/* @media only screen and (max-width: 800px) {
    .main {
        display: none;
    }
    body{
        background: #000;
    }
  } */