body {
    background-color: rgb(228, 202, 202);
}

button {
    cursor: pointer;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
    grid-gap: 30px;
}

.gallery>img {
    background-color: rgb(58, 103, 133);
    width: 190px;
    cursor: pointer;
}

/* ---NAV--- */

nav {
    display: flex;
    justify-content: space-between;
    background-color: darkcyan;
}

.links {
    display: flex;
    list-style: none;
    justify-content: space-around;
}

a {
    display: block;
    padding: 20px;
    cursor: pointer;
}

.links * {}

.logo img {
    height: 50px;
}

/* ---Footer--- */

footer {
    background-color: darkcyan;
    position: fixed;
    bottom: 0px;
    width: 100%;
    padding: 30px;
}